H1 ALBUMS
#albums
    ul
        if albums && albums.length > 0
            for album in albums
                li.album
                    div
                        div(style='background-image: url(#{"/images/albums/" + album.url})').img
                        p= album.band
                        hr
                        p= album.title
        else
            p No Albums so far!