extends layout

block content
    h1= title
    section#contact
        h2 Snail mail:
        p Ramunas Fishermang
        p ebm-veien 90
        p 7242 Norway
        br
        h2 E-mail:
        p Fishermang@gmail.com