extends layout

block content
    h1= title
    section#contact
        h2 Snail mail:
        p Ramunas Fishermang
        p Schiøtzvei 8
        p 7020 Norway
        br
        h2 E-mail:
        p Fishermang@gmail.com