doctype html
html(data-ng-app='')
    head
        meta(charset="utf-8")
        meta(keywords="ebm,electronic body music,old skool,old school,old school ebm,old school electronic body music, eine tasse jager, eine tasse jäger, eine tasse jager records, eine tasse jäger records, record label,etj-records,no school,no school ebm,jäger")
        meta(robots="INDEX, FOLLOW")
        meta(distribution="global")
        meta(description="Record Label specializing in EBM, E-Commerce, Record Mastering")
        title= title
        link(rel='stylesheet', href='/stylesheets/style.min.css')
    body
        header
            div.wtf
            div#logo
                img(src='/images/ETJ-Records-Splatter-Logo-orange.png')
            div.wtf
        block scripts
            script(type='text/javascript', src='/javascript/album.js')
            script(type='text/javascript', src='/javascript/angular-1.2.10/angular.min.js')
        p(ng-model='test')
    section#wrapper
        block content
    footer
        div
            p site design by sindre røbekk hagerup / logo design by peter richter
            p © 2014 etj-records rev 2014.03.03-04
