doctype html
html(data-ng-app='')
    head
        meta(charset="utf-8")
        title= title
        link(rel='stylesheet', href='/stylesheets/style.min.css')
    body
        section
            div#paypal
                p PAYPAL COMING "SOON" (TM)
        div#logo
            img(src='/images/etj-logo.png')
        header
            nav
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/about") About
                    li
                        a(href="/contact") Contact
        block shop
        block scripts
            script(type='text/javascript', src='/javascript/album.js')
            script(type='text/javascript', src='/javascript/angular-1.2.10/angular.min.js')
        p(ng-model='test')
    section#wrapper
        block content
    footer
        p site design / logo © 2014 etj-records rev 2014.01.27.01
