doctype html
html(data-ng-app='')
    head
        meta(charset="utf-8")
        title= title
        link(rel='stylesheet', href='/stylesheets/style.min.css')
    body
        header
            div.wtf
            div#logo
                img(src='/images/ETJ-Records-Splatter-Logo-orange.png')
            div.wtf
        block scripts
            script(type='text/javascript', src='/javascript/album.js')
            script(type='text/javascript', src='/javascript/angular-1.2.10/angular.min.js')
        p(ng-model='test')
    section#wrapper
        block content
    footer
        p site design by sindre røbekk hagerup / logo design by peter richter
        p © 2014 etj-records rev 2014.03.03-03
