h1 NEWS
#promotionals
    ul
        if promotionals && promotionals.length > 0
            for promo in promotionals
                li.promo
                        div
                            h1= promo.band
                            div(style='background-image: url(#{"/images/albums/" + promo.url})').img
                            br
                            h2= promo.title
                            br
                        p.description= promo.description
        else
            p No news so far!